{
    admin 0.0.0.0:2019
    email SvenDowideit@home.org.au
    # debug true
}

(dns_api_gandi) {
    tls {
#        issuer acme {
#            dns gandi {env.GANDIV5_API_KEY}
#        }
        issuer internal
    }
}