{{define "domain"}}{{default ((default "loc.alho.st" ((env "DOMAIN")))) ((index labels "virtual.domain"))}}{{end}}
{{define "hostmatcher" -}}
{{if hasPrefix ((default ((default "loc.alho.st" ((env "DOMAIN")))) ((index labels "virtual.domain")))) ((index labels "virtual.host")) -}}
{{index labels "virtual.host" -}}
{{else -}}
{{hostname ((index labels "virtual.host"))}}.{{template "domain" -}}
{{end -}}
{{end -}}
